<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-256.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather application is made using NodeJS, Express,<a class= "weatherstack"href="https://weatherstack.com/">Weather Stack API</a>and mapbox.com.</p>

        <p>Here is the <a class= "weatherstack" href="https://github.com/Yashkanekar/Weather-app">Github Repository</a>for this website.</p>

        <h1>About Me</h1>
        {{!-- <img class="my-img"
            src="https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="My photo"> --}}
        <img class="my-img"
            src="./img/mypic.jpg"
            alt="My photo">
            <p>Hello I am Yash Kanekar. I am a web development enthusiast.</p>
    </div>
    {{>footer}}
</body>

</html>